{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap
         Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <title>Дубли компаний из CRM.</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="page-header">
	  <h2>Список компаний-дублей по именам.</h2>
	</div>
      </div>
      <div class="row">
	<div id="front">
	  <div class="col-sm-2"><a class="btn btn-default" v-on:click="getDoublesList()">Найти дубликаты</a></div>
	  <div class="col-sm-9">
	    <div class="row">
	      <ul class="list-group" :class="{hidden: companies.length == 0}">
		<li class="list-group-item list-header text-info">
		  <div class="col-sm-4">ID</div>
		  <div class="col-sm-4">TITLE</div>
		  <div class="col-sm-4">DATE CREATE</div>
		</li>
		<company-component v-for="company in companies" :company="company" :key="company.id"></company-component>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <!-- VueJS & Vue-Resource -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-resource"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static 'js/front.js' %}"></script>

  </body>
</html>
